<div id="itemActionsBar">
  <button class="btn btn-danger" onclick="deleteKey('<%= connectionId %>','<%= key %>')">Delete Key</button>
</div>
<div id="itemData">
  <table class="table">
    <thead>
      <th>Field</th>
      <th>JSON</th>
      <th>Value</th>
    </thead>
    <tbody>
    <% for(var field in data) { %>
      <tr>
          <td><%= field %></td>
          <% if (/^[\],:{}\s]*$/.test(data[field].replace(/\\["\\\/bfnrtu]/g, '@').
             replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
             replace(/(?:^|:|,)(?:\s*\[)+/g, ''))) { %>
             <td style="color:green">&#10003;</td>
          <% } else { %>
             <td style="color:red">&#10005;</td>
          <% } %>
        <% console.log(data[field]);%>
          <td><%= data[field] %></td>
        </tr>
      <% } %>
    </tbody>
   </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.table tbody tr').dblclick(function(event) {
      var connectionId = "<%= connectionId %>";
      var key = "<%= key %>";
      var row = event.currentTarget;
      var field = row.children[0].innerHTML.toString();
      var value = row.children[2].innerHTML.toString();

      editHashRow(connectionId, key, field, value);
    });
  });
</script>
